@charset "UTF-8";
@font-face { font-family:"Euclid Flex Medium";font-variant:normal;font-weight:500;src:url("#FontID0") format(svg)}
.fil1 {fill:#FEFEFE}
.fil0 {fill:url(#id0)}
.fnt1 {font-weight:500;font-size:181px;font-family:'Euclid Flex Medium'}
.fnt0 {font-weight:500;font-size:256px;font-family:'Euclid Flex Medium'}
